<div class="jumbotron">
  <div class="row align-items-end">
    <div class="col-11 col-md-11">
      <h3 class="display-5">Cadastrar Novo membro</h3>
    </div>

  </div>
  
    <form>
        <div class="row">

        <div class="form-group col-6 col-md-4">
          <label>Nome Completo</label>
          <input type="text" class="form-control" placeholder="Nome Completo">
        </div>
        <div class="form-group col-6 col-md-2">
          <label>Estado Civíl</label>
          <select class="form-control">
        <option>Solteiro(a)</option>
        <option>Casado(a)</option>
        <option>Viuvo(a)</option>
        <option>Outros(a)</option>
        </select>
        </div>
        <div class="form-group col-6 col-md-2">
          <label>Sexo</label>
          <select class="form-control">
          <option>Masculino</option>
          <option>Feminino</option>
          </select>
        </div>
        <div class="form-group col-6 col-md-2">
          <label>Data de nascimento</label>
          <input type="text" class="form-control" placeholder="Data de nascimento">
        </div>
        <div class="form-group col-6 col-md-2">
          <label>É Batizado?</label>
          <select class="form-control">
              <option>Sim</option>
              <option>Não</option>
              </select>
        </div>
        <div class="form-group col-6 col-md-2">
          <label>É Batizado na Esmirna?</label>
          <select class="form-control">
                <option>Sim</option>
                <option>Não</option>
                </select>
        </div>
        <div class="form-group col-6 col-md-4">
          <label>Igreja(Caso a resposta seja não)</label>
          <input type="text" class="form-control" placeholder="Caso a resposta seja não">
        </div>
        <div class="form-group col-6 col-md-2">
          <label>Ano do Batismo</label>
          <input type="text" class="form-control" placeholder="Ano do Batismo">
        </div>
        <div class="form-group col-6 col-md-4">
          <label>Discipulador</label>
          <input type="text" class="form-control" placeholder="Discipulador">
        </div>
        <div class="form-group col-6 col-md-2">
          <label>Já passou pelo encontro?</label>
          <select class="form-control">
                    <option>Sim</option>
                    <option>Não</option>
                    </select>
        </div>
        <div class="form-group col-6 col-md-2">
          <label>Já fez escola de lideres?</label>
          <select class="form-control">
                      <option>Sim</option>
                      <option>Não</option>
                      </select>
        </div>
        <div class="form-group col-6 col-md-2">
          <label>Telefone</label>
          <input type="text" class="form-control" placeholder="Telefone">
        </div>

        <div class="form-group col-6 col-md-2">
          <label>Tipo de lagadouro</label>
          <select class="form-control">
                          <option>Rua</option>
                          <option>Avenida</option>
                          <option>Travessa</option>
                          <option>Rodovia</option>
                          <option>Praça</option>
                          <option>Outros</option>
                          </select>
        </div>


        <div class="form-group col-6 col-md-4">
          <label>Nome do Logadouro</label>
          <input type="text" class="form-control" placeholder="Ex:Japura, Dom Pedro....">
        </div>
        <div class="form-group col-6 col-md-2">
          <label>Numero</label>
          <input type="text" class="form-control" placeholder="Numero">
        </div>
        <div class="form-group col-6 col-md-3">
          <label>Complemento</label>
          <input type="text" class="form-control" placeholder="Apartamento, bloco e etc..">
        </div>
        <div class="form-group col-6 col-md-3">
          <label>Bairro</label>
          <input type="text" class="form-control" placeholder="Nome do Bairro">
        </div>
        <div class="form-group col-6 col-md-4">
          <label>Cidade</label>
          <input type="text" class="form-control" placeholder="Cidade">
        </div>
        
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  
</div>