<div style="margin-top: 100px" class="row">
    <div class="col-6 col-md-4">
    </div>
<div class="col-6 col-md-4">
<form>
  <fieldset>
    <legend>Login</legend>
    <div class="form-group">
      <label for="exampleInputEmail1">E-Mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="digite o e-mail">
      <small id="emailHelp" class="form-text text-muted">Seu e-mail cadastrado</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    </div>
    <button type="submit" class="btn btn-primary">Logar</button>
  </fieldset>
</form>
</div>
<div class="col-6 col-md-4">
  </div>
</div>